ServiceClient/Service References/BlogServiceReference/BlogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51609/BlogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51609/BlogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51609/BlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UniversityService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlogService_GetBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_PostBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:PostBlog" />
  </wsdl:message>
  <wsdl:message name="IBlogService_PostBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogDetails" />
  </wsdl:message>
  <wsdl:message name="IBlogService_GetBlogDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlogService">
    <wsdl:operation name="GetBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlog" message="tns:IBlogService_GetBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogResponse" message="tns:IBlogService_GetBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/PostBlog" message="tns:IBlogService_PostBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/PostBlogResponse" message="tns:IBlogService_PostBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogService/GetBlogDetails" message="tns:IBlogService_GetBlogDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogService/GetBlogDetailsResponse" message="tns:IBlogService_GetBlogDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basic" type="tns:IBlogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostBlog">
      <soap:operation soapAction="http://tempuri.org/IBlogService/PostBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogDetails">
      <soap:operation soapAction="http://tempuri.org/IBlogService/GetBlogDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogService">
    <wsdl:port name="basic" binding="tns:basic">
      <soap:address location="http://localhost:51609/BlogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>