ServiceClient/Service References/BlogServiceReference/BlogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UniversityService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UniversityService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBlogType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogType" nillable="true" type="tns:BlogType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogType" nillable="true" type="tns:ArrayOfBlogType" />
  <xs:complexType name="BlogType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlogId" type="xs:int" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePath2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntroWords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogType" nillable="true" type="tns:BlogType" />
</xs:schema>