ServiceClient/Service References/BlogServiceReference/BlogService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51609/BlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UniversityService" />
  <xs:element name="GetBlog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UniversityService" minOccurs="0" name="GetBlogResult" nillable="true" type="q1:ArrayOfBlogType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostBlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UniversityService" minOccurs="0" name="blogData" nillable="true" type="q2:BlogType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostBlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostBlogResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UniversityService" minOccurs="0" name="GetBlogDetailsResult" nillable="true" type="q3:BlogType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>